html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    width:80%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
}
@media (max-width:1920px)
{
    h1{
        font-size: 1.5rem;
    }
    
    thead tr:last-child{
        display: none;
    }
    thead tr:first-child{
        font-size: 1rem;
    }
    tbody{
        font-size: 1rem;;
    }
}

@media (max-width:1000px)
{
    thead tr:last-child{
        display: contents;
    }
    thead tr:first-child{
        display: none;
    }

    h1{
        font-size: 1.5rem;
    }

    tbody{
        font-size: 1rem;
    }
}

@media (max-width: 500px)
{
    .stat{
        display: none;
    }

    h1{
        font-size:2rem;
    }

    thead{
        font-size: 1.5rem;
    }

    tbody{
        font-size:1.25rem;
    }
}




body
{
    background-color: bisque;
}

thead
{
    background-color: antiquewhite;
}

thead tr td{
    color:chocolate;
}

h1{
    color:chocolate;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}